<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.0.1" />
  <package id="HtmlAgilityPack" version="1.11.46" />
  <package id="J2N" version="2.0.0" />
  <package id="LibreTranslate.Net" version="1.0.1" manuallyInstalled="true" />
  <package id="Lucene.Net" version="4.8.0-beta00016" />
  <package id="Lucene.Net.Analysis.Common" version="4.8.0-beta00016" />
  <package id="Lucene.Net.Queries" version="4.8.0-beta00016" />
  <package id="Lucene.Net.QueryParser" version="4.8.0-beta00016" />
  <package id="Lucene.Net.Sandbox" version="4.8.0-beta00016" />
  <package id="MathNet.Numerics" version="5.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" />
  <package id="Microsoft.MixedReality.EyeTracking" version="1.0.2" manuallyInstalled="true" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="Serilog" version="3.0.1" manuallyInstalled="true" />
  <package id="SharpZipLib" version="1.4.2" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Security.AccessControl" version="6.0.0" />
  <package id="System.Security.Cryptography.ProtectedData" version="7.0.0" />
  <package id="System.Security.Permissions" version="7.0.0" />
  <package id="System.Security.Principal.Windows" version="5.0.0" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" />
  <package id="VDS.Common" version="2.0.0" manuallyInstalled="true" />
  <package id="dotNetRdf" version="3.0.1" manuallyInstalled="true" />
  <package id="dotNetRdf.Client" version="3.0.1" />
  <package id="dotNetRdf.Core" version="3.0.1" />
  <package id="dotNetRdf.Data.DataTables" version="3.0.1" />
  <package id="dotNetRdf.Dynamic" version="3.0.1" />
  <package id="dotNetRdf.Inferencing" version="3.0.1" />
  <package id="dotNetRdf.Ontology" version="3.0.1" />
  <package id="dotNetRdf.Query.FullText" version="3.0.1" />
  <package id="dotNetRdf.Query.Spin" version="3.0.1" />
  <package id="dotNetRdf.Shacl" version="3.0.1" />
  <package id="dotNetRdf.Skos" version="3.0.1" />
  <package id="dotNetRdf.Writing.HtmlSchema" version="3.0.1" />
</packages>